human-presence-in-room/flows.json
[{"id":"a072cd00.06145","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e4ae399a.6e99e8","type":"http in","z":"a072cd00.06145","name":"","url":"/increment","method":"get","upload":false,"swaggerDoc":"","x":160,"y":140,"wires":[["f7d4511b.c266","95aa93db.cdd8c"]]},{"id":"f7d4511b.c266","type":"template","z":"a072cd00.06145","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Counter incremented!</h1>\n    </body>\n</html>","x":290,"y":60,"wires":[["39465255.3f204e"]]},{"id":"39465255.3f204e","type":"http response","z":"a072cd00.06145","name":"","statusCode":"","headers":{},"x":410,"y":60,"wires":[]},{"id":"5fd691c3.a2289","type":"debug","z":"a072cd00.06145","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":280,"wires":[]},{"id":"28c7e9f2.2fe266","type":"function","z":"a072cd00.06145","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["e6de1b04.98dd18"]]},{"id":"5b16f16a.bafb5","type":"http in","z":"a072cd00.06145","name":"","url":"/decrement","method":"get","upload":false,"swaggerDoc":"","x":160,"y":320,"wires":[["28c7e9f2.2fe266","3c0c67c3.0d7828"]]},{"id":"3c0c67c3.0d7828","type":"template","z":"a072cd00.06145","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Counter decremented!</h1>\n    </body>\n</html>","x":290,"y":440,"wires":[["429c0380.9f209c"]]},{"id":"429c0380.9f209c","type":"http response","z":"a072cd00.06145","name":"","statusCode":"","headers":{},"x":430,"y":440,"wires":[]},{"id":"95aa93db.cdd8c","type":"function","z":"a072cd00.06145","name":"msg object","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["e6de1b04.98dd18"]]},{"id":"e6de1b04.98dd18","type":"counter","z":"a072cd00.06145","name":"counter","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":2,"x":620,"y":200,"wires":[["5fd691c3.a2289","6e0da915.5520f8"],[]]},{"id":"6cc13961.458f18","type":"http in","z":"a072cd00.06145","name":"","url":"/counter","method":"get","upload":false,"swaggerDoc":"","x":710,"y":100,"wires":[["3c03d7c9.c01028"]]},{"id":"3c03d7c9.c01028","type":"template","z":"a072cd00.06145","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n<h1>The people in the room 1 are:\n{{flow.myCount}}\n</h1>\n\n\n</body>\n</html>","output":"str","x":920,"y":100,"wires":[["5610d1ce.1cdaa"]]},{"id":"5610d1ce.1cdaa","type":"http response","z":"a072cd00.06145","name":"","statusCode":"","headers":{},"x":1070,"y":100,"wires":[]},{"id":"87a3e8a0.009678","type":"inject","z":"a072cd00.06145","name":"increment","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":200,"y":620,"wires":[["9bc22382.4b116"]]},{"id":"9bc22382.4b116","type":"function","z":"a072cd00.06145","name":"msg object","func":"msg.increment = 3;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["e6de1b04.98dd18"]]},{"id":"6e0da915.5520f8","type":"change","z":"a072cd00.06145","name":"","rules":[{"t":"set","p":"myCount","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":360,"wires":[["f2474f73.68d22"]]},{"id":"f2474f73.68d22","type":"debug","z":"a072cd00.06145","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":480,"wires":[]},{"id":"e28bb16d.05df","type":"comment","z":"a072cd00.06145","name":"Just for testing purpose...","info":"","x":170,"y":560,"wires":[]},{"id":"144ba493.d8cb4b","type":"comment","z":"a072cd00.06145","name":"Increment","info":"[https://noderedtestgixs.herokuapp.com/increment](Increment Link)","x":110,"y":60,"wires":[]},{"id":"b8c61ea5.a40e","type":"comment","z":"a072cd00.06145","name":"Decrement","info":"[https://noderedtestgixs.herokuapp.com/decrement](Decrement Link)","x":100,"y":260,"wires":[]},{"id":"a852ba04.7ab868","type":"comment","z":"a072cd00.06145","name":"Counter","info":"[https://noderedtestgixs.herokuapp.com/counter](Counter Link)","x":670,"y":60,"wires":[]}]